.footer {
    /* background-color: #152965; */
    color: white;
    bottom: 0;
    position: absolute;
    /* align-items: center; */
    /* bottom: 0; */
    /* margin: 249px 0 0 0; */
    width: 100%;
    /* height: 100%; */
    
   
  }
  
  .footer-details{
      position: absolute;
      z-index: 1;
      margin-top: 8px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
          
  }
  
  .footer-details p{
      font-size: .55em;
      text-align: center;
      flex: 1px;
      margin: 13px 6px 1px 6px;
  }
  
  .footer div svg{
      position: absolute;
      z-index: 0;
      /* margin: auto; */
      /* bottom: 0px; */
      width: 100%;
     /* height: 100%; */
  }
  
  .footer-details span{
      color: #cbcbcb;
      display: block;
      
  }
  
  #pin{
      z-index: 1;
      display: inline;
    
  
      flex: 1px;
      padding-right: 5%;
  }
  .hov-scale{
      transition: transform 250ms;
  
      
  }
  .hov-scale:hover { transform: translateY(-10px);
  }